html
{
    box-sizing: border-box; 
    font-size: 100%;
    scroll-behavior: smooth;
}

*::after, *::before
{
    box-sizing: inherit;
}
body
{   
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
